.App {
  text-align: center;
  color:black;
}
.home-main{
  background-image: url("./img/user.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.CreateUser{
  background-image: url("./img/user.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
